.section--primary
  .container
    %h1= title(t(".question").capitalize + " " + @question.uin)
    %p.lead= t(".question_for").capitalize + " " + @answering_body.name

%section{ id: "content", tabindex: "0" }
  .container

    -# Question
    .block--border__bottom
      = render partial: "written_q_a", locals: { title: t(".question").capitalize, body: @question.text, person: @asking_person, position: t(".mp_for"), department: @constituency.name, incumbency: @asking_person_seat_incumbency, date: @question.asked_at_date.strftime("%d %B %Y") }

    -# Answer
    .block--border__bottom
      - if @answer.text
        = render partial: "written_q_a", locals: { title: t(".answer").capitalize, body: @answer.text, person: @answering_person, position: @government_position.name, department: @answering_body.name, incumbency: @answering_person_government_incumbency, date: @answer.answer_given_date.strftime("%d %B %Y") }
      - else
        %h2= t(".not_answered").capitalize
        %p= t(".answer_expected_from").capitalize + @answering_body.name
