.timeline
  - unless @history.nil? || @history[:current].empty?
    %h2= "#{t('.held_currently')}"
    %ul.list--block
      = render 'timeline_roles', timeline_roles: @history[:current]
  - @history[:years].keys.sort.each do |year|
    %h2= "#{t('.held_in')} #{year} #{t('.years')}"
    %ul.list--block
      = render 'timeline_roles', timeline_roles: @history[:years][year]
  - if @history && @history[:start]
    %h2= @history[:start].year
